<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All Flow Control Tests" verbose="1">
  <test name="AsyncFunction">
    <classes>
      <class name="scala.actors.controlflow.AsyncFunctionSuite" />
    </classes>
  </test>
  <test name="AsyncStream">
    <classes>
      <class name="scala.actors.controlflow.AsyncStreamSuite" />
    </classes>
  </test>
  <test name="ControlFlow">
    <classes>
      <class name="scala.actors.controlflow.ControlFlowSuite" />
    </classes>
  </test>
  <test name="AsyncLock">
    <classes>
      <class name="scala.actors.controlflow.concurrent.AsyncLockSuite" />
    </classes>
  </test>
  <test name="AsyncFuture">
    <classes>
      <class name="scala.actors.controlflow.concurrent.AsyncPromiseSuite" />
    </classes>
  </test>
</suite>
